<h1>关于我们</h1>

<p>


	咕咚淘隶属于深圳启创讯科网络科技有限公司，是一家专门针对追求生活品质的人群创建的海淘网站，专营各种海外名品，以高质的产品和服务为用户提供更加有品质的生活。 我们拥有几十家供应商、近百个国外品牌、超过万件商品，可以让您享受更为便捷、快速、安全和实惠的海外购物体验。 咕咚淘提供的商品与国外价格保持一致，汇率实时更新，支持人民币支付，可以用支付宝哦！。 我们为您选择更为快速和安全的物流服务，我们的宗旨是让您的海外购物不再是难事！ 
</p>
</br>
</br>
</br>
</br>
</br>

<div class="media">
  <a class="media-left" href="#">
    <img src="http://beilou-photos.b0.upaiyun.com/products/15/c0/3b/15c03b59-80dd-4417-8493-53212972fbca!596x596" alt="...">
  </a>
  <div class="media-body">
    <h4 class="media-heading">创始人</h4>
    创始人  刘小胖
  </div>
</div>
