<div class="jumbotron center">
  <h1>Pick your fashon!</h1>
  <p>
     <%= link_to "I want to buy", "#" ,class: "btn btn-primary btn-lg" %>
     <%= link_to "I want to sell","#", class: "btn btn-primary btn-lg" %>
  </p>

</div>
