
<div class="jumbotron center">
  <h2>来一次省一年！足不出户血拼美国</h2>
  <p>
     <%= link_to "立即下单", "#" ,class: "btn btn-primary btn-lg" %>
     <%= link_to "寻找现货","#", class: "btn btn-primary btn-lg" %>
  </p>



</div>


<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    品类选择
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">美国名牌鞋类</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">高级服饰</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">运动鞋</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">奶粉婴幼儿产品</a></li>
  </ul>
</div>


<p>
</br>
</br>
蜜淘承诺所售商品均为海外购买的正品行货。如客户在蜜淘购买的商品确认收货后发现不是正品， 应将质检部门出具的鉴定证明连同商品原件寄至我们，核实并认定属实后，我们将无条件"假一赔十"。
</p>

<p>
一、代购服务细则
</br>【全球精选，正品同步】
所有代购商品均为美国、日本、韩国等海外当地知名网站正在销售中的新款或经典商品，由咕咚网时尚买手、母婴专家或者新老用户推荐、筛选最终同步到蜜淘网销售。
</br>【一键代购，方便快捷】
您在网下单后，我们会在72小时内到国外网站代为您下单购买，再通过国际快递将商品送到您手中，省去您翻译网站、联系转运的繁琐。
</br>【便捷支付，费用透明】
您可以根据自身情况使用银联卡或支付宝用人民币结算，您支付的金额包含了商品价格和国际国内运费，不包含税费。
如果产生了税费，需要您自行向海关缴纳（方式方法具体见FAQ）。 
此外，海外代购商品由于国外政策限制，无法提供发票。
</br>【海外直邮，安全无忧】
所有代购商品均为海外直邮，韩国和日本代购商品直发EMS到用户手中，美国代购商品通过转运公司在天津口岸清关后转国内快递送达用户手中。
海外代购（下单——付款——海外订购——海外仓库中转——国际航空运输——国内清关——国内派送）周期在15天-30天，由于涉及国际运输和国外仓库节假日休息，如果遇到恶劣天气或者节假日，到货时间会相应顺延。
</p>


<p>
</br>二、20天物流承诺
</br>我们承诺20个工作日内发出国内物流单号，即：以客户端内显示的物流状态为参考，自下单日起到国内快递发出期间不超过20个工作日，超过20个工作日蜜淘承诺</br>免除国际运费。但如果产生关税，因需您自主进行缴纳关税，故处理关税的时间不计算在内。
</br>20天承诺不包括部分海外商家可能发生延迟发货的行为，如果发生这种情况蜜淘会协助沟通催促尽快发货。
</br>我们与笨鸟物流在海外及国内建立可靠合作关系，保证商品中转运输过程中的包裹完整、安全及隐私。
</br>我们与国内快递达成合作关系，国内运送时间具体参看国内快递公司的效率，不包含在蜜淘承诺周期之内。

</br>三、有关缺货、取消订单及退换货的说明
</br>（一）、缺货、取消订单需知
</br>由于海外网站的库存是实时更新的，我们在代为您下单时如果出现了缺货的情况，系统会在5个工作日内将您支付的金额全额返还到您的支付账户。
</br>在您下单后到被蜜淘进行处理之前，如果您发现订单有误，可以在客户端上对您的订单进行取消订单操作。
</br>当您的订单被蜜淘处理进行处理之后(蜜淘客户端订单的物流状态中将会显示`「订单已处理」`)，将不支持取消订单的操作。
</br>（二）、商品在输送过程中发生破损、缺失及丢失等质量问题的，经协商且用户同意后，换货范围如下。
</br>受理的范围包括：
</br>到手商品发生破损、缺失等质量问题，影响正常使用。
</br>到手商品质保过期（主要为食品及药妆类）。
</br>快递公司将商品丢失。
</br>出现以上情况时，您可以在收到货物后的7天内申请退换货，退货时请将商品包括附带的全部资料/配件予以退回，退换货中产生的运费由我们承担。
</p>




















